<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift教科書からの脱出 Count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A079DAE41EBEF01500356195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A079DAF81EBEF01600356195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A079DB031EBEF01600356195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
